<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h3><%= cid.id %></h3> 
          <h1><%= cid.name %> </h1>
          <p><%=  cid.tweet %> </p>
          <h4><%= cid.followers %></h4> </h4>
          <a href="/comments"><button>view all comments</button></a> </button></a>
      </div>
</body>
</html>